# IMMU MD V3 — Environment

# REQUIRED for Heroku: paste your IMMU-MD~ session here
SESSION_ID=

# Bot Settings
BOT_NAME=IMMU MD V3
PREFIX=.
MODE=public
TIME_ZONE=Asia/Karachi
PORT=8000

# Auto Features
AUTO_READ_STATUS=true
AUTO_LIKE_STATUS=true

# Anti Features
ANTIDELETE=true
ANTIVIEWONCE=true
ANTICALL=false
